body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
}
input, button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #664e61;
}
button {
    background: #8e44ad;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #7d3c8c;
}
li {
    background: #ecf0f1;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}
a {
    color: #af5ea4;
}
