.alineado{
    font-family: Arial,sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
    
    
}
.container{
    background: white;

    border-radius: 8px;
    width: 15px;
    max-width: 15px;
}
input button{
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #583c53;
}
button{
    background: #9677a5;;
    color: aliceblue;
    cursor: pointer;
}
li{
    background: rgb(155, 119, 147);

    display: flex;
    justify-content: space-between;
    align-items: center;
border-radius: 6px;
}
h1{
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px ;
    max-width: 600px;
    background: #815a79;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(red, green, blue, alpha);
}
form{
    margin-left: 350px;
}


